body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'StateFaceRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

a {
  color: #3571C0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'StateFaceRegular';
  src: url('./font/webfont/stateface-regular-webfont.eot');
  src: url('./font/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./font/webfont/stateface-regular-webfont.woff') format('woff'), url('./font/webfont/stateface-regular-webfont.ttf') format('truetype'), url('./font/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* App.js  ----------------------------------------------------------------- */

.state {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.row {
  display: table-row;
}

.raceInfo {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  width: 75%
}

.topText {
  white-space: normal;
}

.bottomText {
  white-space: normal;
}

.hover {
  position: relative;
}

.hover .hovertext {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 1s;
  font-size: 80%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -30px;  /* Use half of the width to center the tooltip */
}

.hover:hover .hovertext {
  visibility: visible;
  opacity: 1;
}

.hover .hovertext::after { /* tooltip arrow */
  content: " ";
  position: absolute;
  bottom: 95%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.raceList {
  height: 100%;
  display: table;
  table-layout: fixed;
}

@media (max-width: 800px) {
  .display-4 {
    font-size: 5rem;
    font-size: 15vw;
    margin: auto;
  }
  .topText {
    font-size: 1.75rem;
    font-size: 5vw;
  }
  .bottomText {
    font-size: 1.75rem;
    font-size: 5vw;
  }
  .sidenav {
    /* keep the controller above the list on small screens */
    width: 100%;
    margin: auto;
  }
  .raceList {
    width: 100%;
    font-size: 1.75rem;
    font-size: 5vw;
    margin-top: 10px;
  }
}

@media (min-width: 801px) {
  .onlyShowOnMobile {
    display: none;
    clear: both;
    visibility: hidden;
  }
  .sidenav {
    /* pin the controller to the left on larger screens */
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 140px;
    padding-left: 5px;
    height: 100%;
  }
  .raceList {
    margin-left: 250px;
    width: 70%;
  }
}


/* Controller.js  ---------------------------------------------------------- */

.dropdown-item.active {
  background-color: #6C757D
}

.dropdown-item:active {
  background-color: #6C757D
}

.btn {
  padding-right: 6px;
  padding-left: 6px;
}

.controller-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .btn {
    font-size: inherit;
  }
  .btn-outline-secondary:hover {
    color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown-menu {
    font-size: 100%;
    transform: translate(0px, 25%) !important;
  }
  .controller-element {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    font-size: 1.75rem;
    font-size: 5vw;
    margin: auto;
  }
  .hideOnMobile {
    display: none !important;
  }
}


/* Race.js ----------------------------------------------------------------- */

.barBackground:after { /* dotted line in the middle */
  content: "";
  position: relative;
  z-index: 999;
  color: white;
  top: 0;
  bottom: 0;
  left: -50%;
  border-left: 2px dotted #fafafa;
}

.barDem {
  width: 50%;
  background-color: #3571C0;
  text-align: left;
  color: white;
  vertical-align: middle;
  transition: width 1.5s;
}

.hidden {
  display: none;
}

.barRep {
  width: 50%;
  background-color: #FE5C40;
  text-align: right;
  color: white;
  vertical-align: middle;
  transition: width 1.5s;
}

.barContents {
  vertical-align: middle;
  position: absolute;
}

.demContents {
  left: 0;
}

.repContents {
  right: 2px;  /* 2px to offset middle line */
}

.demDollarAmt {
  position: absolute;
  left: 13%;
  top: 25%;
  font-weight: normal;
}

.repDollarAmt {
  position: absolute;
  right: 13%;
  top: 25%;
  font-weight: normal;
}

.solidRep {
  color: #FE5C40;
}

.likelyRep {
  color: #ff896d;
}

.leanRep {
  color: #ffb19c;
}

.tossup {
  color: #b1b4bd;
}

.leanDem {
  color: #a4b5e0;
}

.likelyDem {
  color: #7392d0;
}

.solidDem {
  color: #3571C0;
}

.demName {
  float: left;
}

.repName {
  float: right;
}

.hover .coverageEndText {
  margin-left: -55px;
  display: table;
}

.stateName {
  border: 1px solid #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  display: table;
  margin: auto;
  border-bottom: 0px;
}

.barBackground {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  padding: 0px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .portrait {
    height: 80px;
  }
  .barBackground {
    height: 80px;
  }
}

@media (min-width: 801px) {
  .portrait {
    height: 65px;
  }
  .barBackground {
    height: 65px;
  }
}