body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'StateFaceRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

a {
  color: #3571C0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.raceList {
  /*margin: auto;
  width: 60%;
  padding: 10px;*/
  margin-left: 250px;
  display: table;
  height: 100%;
  width: 70%;
  
  table-layout: fixed;
}

.row {
  display: table-row;
}

.state {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  width: 25%
}

.raceInfo {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  width: 75%
}

.barBackground {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  padding: 0px;
  vertical-align: middle;
  height: 65px;
}

/* dotted line */
.barBackground:after{
    content:"";
    position: relative;
    z-index: 999;
    color: white;
    top: 0;
    bottom: 0;
    left: -50%;
    border-left: 2px dotted #fafafa;
}

.barDem {
  width: 50%;
  background-color: #3571C0;
  text-align: left;
  color: white;
  vertical-align: middle;
  
  transition: width 1.5s;
}

.hidden {
  display: none;
}

.barRep {
  width: 50%;
  background-color: #FE5C40;
  text-align: right;
  color: white;
  vertical-align: middle;
  transition: width 1.5s;
}

.barContents {
  vertical-align: middle;
  position: absolute;
}

.demContents {
  left: 0;
}

.portrait {
  height: 65px;
}

.repContents {
  right: 2px; /* 2px to offset middle line */
}

.demDollarAmt {
  position: absolute;
  left: 13%;
  top: 25%;
  font-weight: normal;
}

.repDollarAmt {
  position: absolute;
  right: 13%;
  top: 25%;
  font-weight: normal;
}

.solidRep {
  color: #FE5C40;
}

.likelyRep {
  color: #ff896d;
}

.leanRep {
  color: #ffb19c;
}

.tossup {
  color: #b1b4bd;
}

.leanDem {
  color: #a4b5e0;
}

.likelyDem {
  color: #7392d0;
}

.solidDem {
  color: #3571C0;
}

.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 125px;
  padding-left: 5px;
}

.btn {
  padding-right: 6px;
  padding-left: 6px;
}

.controller-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

.demName {
  float: left;
}

.repName {
  float: right;
}

.stateName {
  border: 1px solid #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: auto;
  border-bottom: 0px;
}

.hover {
  position: relative;
}

.hover .hovertext {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 1s;
  font-size: 80%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  
  top: 100%;
  left: 50%;
  margin-left: -30px; /* Use half of the width to center the tooltip */
}

.hover .coverageEndText {
  width: 110px;
  margin-left: -55px;
}

.hover:hover .hovertext {
  visibility: visible;
  opacity: 1;
}

/* tooltip arrow */
.hover .hovertext::after {
  content: " ";
  position: absolute;
  bottom: 95%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

@font-face {
  font-family: 'StateFaceRegular';
  src: url('./font/webfont/stateface-regular-webfont.eot');
  src: url('./font/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/webfont/stateface-regular-webfont.woff') format('woff'),
       url('./font/webfont/stateface-regular-webfont.ttf') format('truetype'),
       url('./font/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
